@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --bg-color: #000000;
    --text-color: #eaeaea;
    --input-bg: #1a1a1a;
    --accent-color: #a3ff00;
    --error-color: #f06272;
}

body {
    min-height:100vh;
    background-image: url(background.jpg);
    background-size:cover;
    background-position:right;
    overflow: hidden;
}

body.dark-mode {
    --base-color: #1e1e1e;
    --text-color: #ffffff;
    --card-bg: var(--card-bg);
    --section-bg: var(--section-bg);
    --border-color: var(--border-color);
    --accent-color: #a3ff00;
    --input-color: var(--input-bg);

}

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: Poppins, Segoe UI, sans-serif;
    font-size:12pt;
    color:var(--text-color);
    text-align:center;
}

.auth-wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
}


.auth-wrapper .login-container {
    flex: 0 0 40%;
    max-width: 600px;
    background-color: var(--text-color); 
    z-index: 2;
}


.auth-wrapper::after {
    content: "";
    flex: 1;
    background-image: url("rentique_logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;  
    opacity: 0.25;         
    z-index: 1;
}

.login-container{
    box-sizing: border-box;
    background-color:var(--bg-color);
    height:100vh;         
    width:max(40%,600px);
    padding:16px 24px;           
    border-radius: 0 20px 20px 0;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;  
    gap:10px;
}

h2{
    font-size: 2.2rem;
    font-weight: 900;
    text-transform: uppercase;
    color:#a3ff00;               
    margin: 4px 0 10px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    color: var(--input-bg);
}

form{
    width:min(400px, 100%);
    margin-top: 4px;
    margin-bottom: 6px;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:6px;
}

.field{
    display:flex;
    width:100%;
}


form > .icon{
    width:100%;
    display:flex;
    justify-content: center;
}

form .icon{
    flex-shrink: 0;
    height: 42px;
    width: 42px;
    background-color: var(--accent-color);  
    fill: #000;
    color: #000;
    border-radius: 10px 0 0 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight:500;
}


form input{
    box-sizing:border-box;
    flex-grow:1;
    min-width: 0;
    height: 42px;
    padding: 0.8em;
    font: inherit;
    border-radius: 0 10px 10px 0;
    border: 2px solid var(--accent-color);      
    background-color: var(--input-bg);
    color: var(--text-color);
    transition: 150ms;
}

form input:hover{
    border:2px solid var(--accent-color);
}

form input:focus{
    outline:none;
    border-color: var(--accent-color);
}

form input::placeholder{
    color: var(--input-bg);
    opacity:1;
}


form button{
    margin-top: 8px;
    border:none;
    border-radius: 1000px;
    padding: 0.65em 3em;
    background-color: var(--accent-color);
    color:#000;
    font:inherit;
    font-weight:600;
    text-transform:uppercase;
    cursor: pointer;
    transition: 150ms ease;
}

form button:hover{
    background-color:#d2ff4c;  
    color: #000;
}

form button:focus{
    outline:none;
    background-color:#d2ff4c;
}

a{
    text-decoration: none;
    color:var(--accent-color);
}

a:hover{
    text-decoration:underline;
}

@media(max-width: 1100px) {
    .login-container{
        width: min(600px, 100%);
        border-radius:0;
    }
}


form div.incorrect .icon{
    background-color:var(--error-color);
}

form div.incorrect input{
    border-color:var(--error-color);
}

#error-message {
    color:#f06272;
    min-height: 1.2em;
    margin-top: 5px;
    font-size:0.9rem;
}
